body{
    background-color: crimson;
}
#titulo1{
    color: rgb(255, 255, 255);
}
.meuparagrafo1{
    color: rgb(255, 255, 255);
}
html{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRse8DsPbzyur6LO7emdDirJesicMyShyZdmA&s");
}
